<div id="itemSelect" data-settings-id="ID_1587186973582" class="dd-container" style="width: 250px;">
  <div class="dd-select" style="width: 250px; background: rgb(238, 238, 238) none repeat scroll 0% 0%;"><input
      class="dd-selected-value" type="hidden" id="itemSelect" value="5"><button type="button" class="dd-selected"
      aria-haspopup="listbox" aria-expanded="false" aria-controls="dd-options-ID_1587186973582"><img
        class="dd-selected-image"
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006_CHARCOAL.png"><label
        class="dd-selected-text">6006</label><small
        class="dd-selected-description dd-desc dd-selected-description-truncated">Charcoal </small></button><span
      class="dd-pointer dd-pointer-down"></span></div>
  <ul class="dd-options dd-click-off-close" id="dd-options-ID_1587186973582" role="listbox" tabindex="-1"
    aria-label="select options" aria-hidden="true" style="width: 250px; display: none;"
    aria-activedescendant="dd-option-ID_1587186973582-1">
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-0"><input class="dd-option-value" type="hidden"
        value="1"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006_PINK.png"
        class="dd-option-image"><label class="dd-option-text">6006</label><small
        class="dd-option-description dd-desc">Pink </small></li>
    <li role="option" class="dd-option dd-option-selected" id="dd-option-ID_1587186973582-1"><input
        class="dd-option-value" type="hidden" value="5"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006_CHARCOAL.png"
        class="dd-option-image"><label class="dd-option-text">6006</label><small
        class="dd-option-description dd-desc">Charcoal </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-2"><input class="dd-option-value" type="hidden"
        value="6"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006_BLACK.png"
        class="dd-option-image"><label class="dd-option-text">6006</label><small
        class="dd-option-description dd-desc">White </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-3"><input class="dd-option-value" type="hidden"
        value="12"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/110C_GREY.png"
        class="dd-option-image"><label class="dd-option-text">110C</label><small
        class="dd-option-description dd-desc">Grey </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-4"><input class="dd-option-value" type="hidden"
        value="13"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/110FT_BLACK_GREY.png"
        class="dd-option-image"><label class="dd-option-text">110FT</label><small
        class="dd-option-description dd-desc">Black Grey</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-5"><input class="dd-option-value" type="hidden"
        value="18"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_GREY.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Grey </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-6"><input class="dd-option-value" type="hidden"
        value="20"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_WHITE.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">White </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-7"><input class="dd-option-value" type="hidden"
        value="21"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_BLACK.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Black </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-8"><input class="dd-option-value" type="hidden"
        value="26"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006W_BROWN_WHITE.png"
        class="dd-option-image"><label class="dd-option-text">6006W</label><small
        class="dd-option-description dd-desc">Brown White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-9"><input class="dd-option-value" type="hidden"
        value="29"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006W_KELLY_WHITE.png"
        class="dd-option-image"><label class="dd-option-text">6006W</label><small
        class="dd-option-description dd-desc">Kelly White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-10"><input class="dd-option-value" type="hidden"
        value="30"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006W_ROYAL_WHITE.png"
        class="dd-option-image"><label class="dd-option-text">6006W</label><small
        class="dd-option-description dd-desc">Royal White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-11"><input class="dd-option-value" type="hidden"
        value="32"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006W_CARBLUE_WHITE.png"
        class="dd-option-image"><label class="dd-option-text">6006W</label><small
        class="dd-option-description dd-desc">Carblue White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-12"><input class="dd-option-value" type="hidden"
        value="34"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6789M_MAROON.png"
        class="dd-option-image"><label class="dd-option-text">6789M</label><small
        class="dd-option-description dd-desc">Maroon </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-13"><input class="dd-option-value" type="hidden"
        value="36"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6789M_RED.png"
        class="dd-option-image"><label class="dd-option-text">6789M</label><small
        class="dd-option-description dd-desc">Red </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-14"><input class="dd-option-value" type="hidden"
        value="28"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006W_BLACK_WHITE.png"
        class="dd-option-image"><label class="dd-option-text">6006W</label><small
        class="dd-option-description dd-desc">Black White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-15"><input class="dd-option-value" type="hidden"
        value="14"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/110FT_BLACK_TEAL.png"
        class="dd-option-image"><label class="dd-option-text">110FT</label><small
        class="dd-option-description dd-desc">Black Teal</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-16"><input class="dd-option-value" type="hidden"
        value="44"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6089MC_CAMO_TAN.png"
        class="dd-option-image"><label class="dd-option-text">6089MC</label><small
        class="dd-option-description dd-desc">Camo Tan</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-17"><input class="dd-option-value" type="hidden"
        value="45"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6089MC_CAMO_BLACK.png"
        class="dd-option-image"><label class="dd-option-text">6089MC</label><small
        class="dd-option-description dd-desc">Camo Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-18"><input class="dd-option-value" type="hidden"
        value="49"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/166-1216_NAVY.jpg"
        class="dd-option-image"><label class="dd-option-text">166-1216</label><small
        class="dd-option-description dd-desc">Navy </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-19"><input class="dd-option-value" type="hidden"
        value="54"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/166-1216_GREY_BLACK.jpg"
        class="dd-option-image"><label class="dd-option-text">166-1216</label><small
        class="dd-option-description dd-desc">Grey Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-20"><input class="dd-option-value" type="hidden"
        value="55"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/166-1216_CHARCOAL_BLACK.jpg"
        class="dd-option-image"><label class="dd-option-text">166-1216</label><small
        class="dd-option-description dd-desc">Charcoal Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-21"><input class="dd-option-value" type="hidden"
        value="58"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-1146_FLORAL_WHITE.jpg"
        class="dd-option-image"><label class="dd-option-text">125-1146</label><small
        class="dd-option-description dd-desc">Floral White</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-22"><input class="dd-option-value" type="hidden"
        value="65"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_GREY_BLACK.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Grey Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-23"><input class="dd-option-value" type="hidden"
        value="70"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_PURPLE_GOLD.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Purple Gold</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-24"><input class="dd-option-value" type="hidden"
        value="46"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6089MC_CAMO_TROPICGRN.png"
        class="dd-option-image"><label class="dd-option-text">6089MC</label><small
        class="dd-option-description dd-desc">Camo Tropicgrn</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-25"><input class="dd-option-value" type="hidden"
        value="72"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_BLACK_GREY.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Black Grey</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-26"><input class="dd-option-value" type="hidden"
        value="76"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/125-978_BLACK_ORANGE.jpg"
        class="dd-option-image"><label class="dd-option-text">125-978</label><small
        class="dd-option-description dd-desc">Black Orange</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-27"><input class="dd-option-value" type="hidden"
        value="78"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/167-1198_ROYAL.jpg"
        class="dd-option-image"><label class="dd-option-text">167-1198</label><small
        class="dd-option-description dd-desc">Royal </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-28"><input class="dd-option-value" type="hidden"
        value="84"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/167-1198_CHARCOAL_.jpg"
        class="dd-option-image"><label class="dd-option-text">167-1198</label><small
        class="dd-option-description dd-desc">Charcoal </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-29"><input class="dd-option-value" type="hidden"
        value="87"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/167-1198_CHARCOAL_BLACK.jpg"
        class="dd-option-image"><label class="dd-option-text">167-1198</label><small
        class="dd-option-description dd-desc">Charcoal Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-30"><input class="dd-option-value" type="hidden"
        value="90"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6007_BLACK.png"
        class="dd-option-image"><label class="dd-option-text">6007</label><small
        class="dd-option-description dd-desc">Black </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-31"><input class="dd-option-value" type="hidden"
        value="92"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6007_GREY.png"
        class="dd-option-image"><label class="dd-option-text">6007</label><small
        class="dd-option-description dd-desc">Grey </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-32"><input class="dd-option-value" type="hidden"
        value="94"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6007_RED.png"
        class="dd-option-image"><label class="dd-option-text">6007</label><small
        class="dd-option-description dd-desc">Red </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-33"><input class="dd-option-value" type="hidden"
        value="82"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/OTTO/167-1198_WHITE.jpg"
        class="dd-option-image"><label class="dd-option-text">167-1198</label><small
        class="dd-option-description dd-desc">White </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-34"><input class="dd-option-value" type="hidden"
        value="4"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6006_BLACK.png"
        class="dd-option-image"><label class="dd-option-text">6006</label><small
        class="dd-option-description dd-desc">Black </small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-35"><input class="dd-option-value" type="hidden"
        value="15"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/110FT_NATURAL_BLACK.png"
        class="dd-option-image"><label class="dd-option-text">110FT</label><small
        class="dd-option-description dd-desc">Natural Black</small></li>
    <li role="option" class="dd-option" id="dd-option-ID_1587186973582-36"><input class="dd-option-value" type="hidden"
        value="95"><img
        src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/list/YUPOONG/6007_ROYAL.png"
        class="dd-option-image"><label class="dd-option-text">6007</label><small
        class="dd-option-description dd-desc">Royal </small></li>
  </ul>
</div>
