{% extends "layout.html" %}

{% block content %}

{% if inventory==[] %}
 
<div class="row">
{% for item in ItemDemoList[:6] %}
<div class="col-sm-6">
  <div class="item-section box-shadow border-success px-0">
    
    <div class="btn btn-dark btn-block border-success mt-0 mx-0 pt-1" style="border-width:thick;border-radius: 16px;"
    >
      <div class="d-flex w-100 justify-content-around m-0">
        <i class="text-muted"> 
          <i class="fas fa-angle-right mr-2"></i>
          {{item.manufacturer}} 
        </i>
        <h4>
          {{item.catalog_no}} 
        </h4>
      </div>
    </div>
<div class="d-flex w-100 justify-content-around">
    <div class="d-flex flex-column bd-highlight mb-1 p-1">
      <span class="badge badge-danger text-dark"> COL_CROWN </span>
      <i class="text-muted">ColorCrown</i>
    </div>
    <div class="d-flex flex-column bd-highlight mb-1 p-1">
      <span class="badge badge-success text-dark"> COL_BILL </span>
      <i class="text-muted">ColorBill</i>
    </div>    

</div>

    <img class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} p-2" src="{{item.image_url}}" alt="{{item.image_url}}">

     <ul class="list-group list-group-flush mb-2">
      <li class="list-group-item list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
        <i class="text-muted">
          <i class="fas fa-angle-right mr-2"></i>
          catalog description
          </i>
        </div>
      <p class="mt-1 mb-1 text-right"> {{item.catalog_desc}} </p>
      </li>
      <li class="list-group-item list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
        <i class="text-muted">
          <i class="fas fa-angle-right mr-2"></i>
          item id 
          </i>
        {{item.id}} 
        </div>
      </li>      
     </ul>

  </div>
</div>
{% endfor %}

</div> 

{% else %}


<div class="row">
  
{% for item in inventory %}
  item
{% endfor %}
</div>


{% endif %}

{% endblock content %}

