{% extends "layout_squares.html" %}

{% block content %}

{% if inventory==[] %}
<h1>
  No Inventory
</h1>
{% else %}
<!-- one two three action -->

<div class="row">


  <div class="row">
    {% for item in inventory %}
    <div class="col-md-3">
      <div class="item-section box-shadow border-dark px-0">
        <div class="btn btn-dark btn-block border-dark mt-0 mx-0 pt-1" style="border-width:thick;border-radius: 16px;">
          <div class="d-flex w-100 justify-content-around mx-0 mt-2 px-0">
            <div class="d-flex flex-column mb-1 p-1">
              {{item.catalog_fullname}}
            </div>
          </div>
        </div>
        <!-- colors and manufacturer-->
        <div class="d-flex w-100 justify-content-between mt-1">
          <div class="d-flex flex-column mb-1 p-1">

            <button type="button" class="btn btn-dark">
              <i class="text-muted">
                <small><em>{{item.manufacturer}} </em></small>
              </i>
            </button>
          </div>

          <div class="d-flex flex-column mb-1 p-1">
            <span class="badge badge-primary text-dark"> {{item.color_primary}}
            </span>
            <i class="text-muted"><small>ColorPrimary</small></i>

          </div>
          <div class="d-flex flex-column mb-1 p-1">
            <span class="badge badge-success text-dark">
              {{item.color_secondary}}
            </span>
            <i class="text-muted"><small>ColorSecondary</small></i>
          </div>
        </div>

        <!-- required for responsive /image placed in a bs-card -->
        <div class="card bg-transparent text-white border-dark" style="border-width: medium;">
          <img class="card-img"
           src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/img/grid/{{item.manufacturer}}/{{item.imagegrid_url}}" 
           alt="{{item.grid_url}}"
           >

        </div>

        <!-- alert buttons low-inv out of stock -->
        <div class="container text-center my-2 mx-0">
          <div class="btn-group my-3" role="group">
            <a type="button" role="button" class="btn {{LowInStckStylerGrid(item.inv_lowinstock)}}"
              href="{{ url_for('mark_as_lowinv',item_id=item.id) }}">
              <i class="fa fa-battery-quarter" aria-hidden="true"></i>
              <small>LowInStock</small>
              {{item.inv_lowinstock}}
            </a>
            <a type="button" role="button" class="btn {{OutOfStckStylerGrid(item.inv_outofstock)}}"
              href="{{ url_for('mark_as_outofstock',item_id=item.id) }}">
              <i class="fa fa-battery-empty" aria-hidden="true"></i>
              <small>OutOfStock</small>
              {{item.inv_outofstock}}
            </a>
            <a type="button" class="btn btn-success" href="{{ url_for('edit_item',item_id=item.id) }}">
              <i class="fas fa-edit"></i>
              <small>EditItem</small>
            </a>
            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{item.id}}">
              <i class="fas fa-trash text-light"></i>
              <small class="text-light">DeleteItem</small>
            </a>
          </div>
        </div>

        <div class="row">
          {% for label,property in item.display_properties().items() %}
          <div class="col-sm-6">
            <div class="d-flex justify-content-between m-1">
              <i class="text-muted">
                <i class="fas fa-angle-right ml-2 mr-0"></i>
                <small>{{label}}</small>
              </i>
              <span class="badge badge-pill badge-dark bg-{{property}}">
                <small>
                  {{property}}
                </small>
              </span>

            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{item.id}}"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Item {{item.id}}, confirm?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_item', item_id=item.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}

  </div>

</div>


{% endif %}
{% endblock content %}
