{% extends "layout_squares.html" %}
{% block content %}

<style>
  .table > tbody > tr > td {
     vertical-align: middle;
}
</style>

{% if inventory==[] %}
<div class="row">

  <div class="alert alert-danger m-4 p-4" role="alert">
    <strong>
      NO INVENTORY?
    </strong>
  </div>

</div> 
{% else %}
<table class="table table-hover table-borderless table-striped text-center mt-2">

  <thead>
    <tr>
      {% for header in DisplayHeaders %}
      <th scope="col" class="text-center">
      {{header}}  
      </th>
      {% endfor %}
    </tr>
  </thead>
<tbody>
  
{% for item in inventory %}

<tr>
<td>
{{item.id|string}}
</td>

<td>
    <img 
  class="img-thumbnail"
  src="{{item.imageclean_url}}" 
  alt="thumbnail"
  style="height: 5rem;"
  >
</td>
<td>
    <img 
      class="img-thumbnail"
      src="{{item.imagewhtbg_url}}" 
      alt="thumbnail"
      style="height: 5rem;"
      >
</td>

<td>
  <a href="/filterby/manuf/{{item.manufacturer}}">
    {{item.manufacturer}} 
  </a>

</td>
<td>
  <a href="{{ item.product_url }}">
    {{item.catalog_fullname.upper()}} 
  </a>

</td>

<td>
  
  <a href="{{url_for('mark_as_lowinv', item_id=item.id)}}"
  class="btn {{LowInStckStyler(item.inv_lowinstock)}}"
  >
  <i class="fas {{LowInvIconizer(item.inv_lowinstock)}}"></i>
  
</a>  
</td>

<td>
    <a 
    href="{{url_for('mark_as_outofstock', item_id=item.id)}}"
    type="button" name="" id="" class="btn {{OutOfStckStyler(item.inv_outofstock)}}">
      <i class="fas {{OutInvIconizer(item.inv_outofstock)}}"></i>
  </a>
</td>


<td class="text-center">
<div class="d-flex flex-column">
  <span class="badge badge-primary bg-{{item.color_primary}} p-2 mt-2">
    <strong>First</strong>
  </span>
  {{item.color_primary}} 
</div>

</td>
<td class="text-center"
>
<div class="d-flex flex-column">
<span class="badge badge-primary bg-{{item.color_secondary}} p-2 mt-2">
  <strong>Secnd</strong>
</span>
{{item.color_secondary}} 
</div>

</td>


{% for value in item.display_tablerow()  %}
  <td class="text-center">
    <i class="fas {{YesNoIconizer(value)}}"></i>
  </td>
{% endfor %}
</tr>

{% endfor %}
</tbody>

</table>
{% endif %}
{% endblock content %}

