{% extends 'layout_squares.html' %}
{% block content %}

<div class="alert alert-primary alert-dismissible fade show m-4" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <p>
    <i class="fa fa-caret-right" aria-hidden="true"></i>

    Each square has 9 rows and 6 columns totaling at 54 each. This is the demo square, so dont expect much action! 
    <i class="fa fa-caret-right" aria-hidden="true"></i>
    There will be total of 10 squares with this size and 10by18 <br>
    <i class="fa fa-caret-right text-break" aria-hidden="true"></i>

  </p>
</div>


<div class="container-fluid m-0">
  <div class="row mt-2">
    {% for item in display %}
    <div class="col-md-2">
      <div class="square-section border-dark m-0 p-0">
        <!-- item title at the top -->
        <div class="btn btn-dark btn-block mb-1 p-0" 
        style="border-radius: 12px;"
        >
          <div class="d-flex flex-column m-0 p-0">
            <div class="d-flex w-100 justify-content-around mx-0 mt-0">
              <i class="text-muted text-monospace mt-1"> 
                <i class="fas fa-angle-right mr-2"></i>
                {{item.manufacturer}} 
              </i>
              <h4 class="text-monospace text-center">
                {{item.catalog_fullname}} 
              </h4>
            </div>
          </div>      
        </div>

        <!-- item image placed in a card to add responsive behaviour -->
        <div class="card bg-transparent border-dark my-1 mx-1 p-1" style="border-width: medium;border-radius: 16px;">
          <img
            class="card-img p-2"
            src="{{item.imageclean_url}}"
            alt="{{item.imageclean_url}}"
            >
        </div>

        <!-- item desc placed in button -->
        <div class="btn btn-dark btn-block bg-purpseethru mb-1 p-0" 
        style="border-radius: 12px;"
        >
          <p class="text-center my-1">
            &middot; 
            {{ item.catalog_fullname }}
            &middot;
          </p>
        </div>

        <!-- item footer for colors -->
        <div class="d-flex w-100 justify-content-around">
          <div class="d-flex flex-column mb-1 p-1">

            <span class="badge badge-danger text-dark"> 
              COL_CROWN 
            </span>
            <i class="text-muted">
              &middot; 
              ColorCrown
              &middot; 
            </i>


          </div>
          <div class="d-flex flex-column bd-highlight mb-1 p-1">
            <span class="badge badge-success text-dark"> COL_BILL </span>
            <i class="text-muted">
              &middot; 
              ColorBill
              &middot; 
            </i>
          </div>    
        </div>
      </div>
      <br>

    </div>
    {% endfor %}
</div>
</div>



{% endblock %}

