{% extends 'layout.html' %}

{% block content %}

<div class="row my-3">
  <div class="col-md-3">
    <a
    name=""
    id=""
    class="btn btn-primary btn-block"
    href="{{ url_for('createfirst_units') }}"
    role="button">
    <i class="fas fa-terminal float-left"></i><strong>CREATE</strong><br>
    <i class="fas fa-th-large float-left"></i><strong>FIRST</strong><br>
    <i class="fas fa-tags float-left"></i><strong>UNITS</strong><br>
    </a>
  </div>
    <div class="col-md-3">
    <a
    name=""
    id=""
    class="btn btn-warning btn-block"
    href="{{ url_for('fixfirst_units_main') }}"
    role="button">
    <i class="fas fa-terminal float-left"></i><strong>F I X</strong><br>
    <i class="fas fa-th-large float-left"></i><strong>MAIN</strong><br>
    <i class="fas fa-tags float-left"></i><strong>ITEM ID'S</strong><br>
    </a>
  </div>  
  <div class="col-md-3">
    <a
    name=""
    id=""
    class="btn btn-danger btn-block"
    href="{{ url_for('fixall_uniquetags_in') }}"
    role="button">
    <i class="fas fa-terminal float-left"></i><strong>F I X</strong><br>
    <i class="fas fa-th-large float-left"></i><strong>UNIQUE</strong><br>
    <i class="fas fa-tags float-left"></i><strong>TAGS</strong><br>
    </a>
  </div>  
  <div class="col-md-3">
    <a
    name=""
    id=""
    class="btn btn-info btn-block"
    href="{{ url_for('update_firstunits_invout') }}"
    role="button">
    <i class="fas fa-terminal float-left"></i><strong>UPDATE</strong><br>
    <i class="fas fa-th-large float-left"></i><strong>MAIN ITEM</strong><br>
    <i class="fas fa-tags float-left"></i><strong>INV OUT</strong><br>
    </a>
  </div>    
</div>

<div class="row">

  {% for square in squares[:-3] %}
  <div class="col-md-3 offset-md-7 text-left">
    
    <div class="d-flex flex-column">
      <i class="text-uppercase text-monospace">
        <i class="fa fa-th-large mr-2" aria-hidden="true">
        </i>
        {{square.name }} 
        
    </i>
      <i class="fas fa-arrows-alt-h"> <small>{{square.col_count}}</small></i>
      <i class="fas fa-arrows-alt-v"> <small>{{square.row_count}}</small></i>
    </div>
  </div>

  <div class="col-md-2">

    <a name="" id="" class="btn btn-dark border-0 btn-block btn-lg btn-rounded py-5 mb-1"
    href="{{ url_for('square_byid', square_id=square.id) }}" 
    role="button"
      style="border-radius: 1rem; border-width: medium;">
      <i class="fas fa-grip-vertical fa-2x text-secondary">
      </i>
    </a>
  </div>
  {% endfor %}
  <div class="d-flex w-100 flex-column-reverse pr-4">
    <div class="row">
      {% for square in squares[-3:] %}
      <div class="col-md-4">
        <div class="row">
          <a name="" id="" class="btn btn-dark border-0 btn-block btn-lg px-4 py-1 mx-1"
          href="{{ url_for('square_byid', square_id=square.id) }}" 
          role="button"
            style="border-radius: 1rem; border-width: medium;">
            <i class="fas fa-grip-horizontal text-secondary fa-2x"></i>
          </a>
        </div>

        <div class="row text-center">
          <div class="d-flex flex-column">
            <i class="text-uppercase text-monospace">
              <i class="fa fa-th-large mr-2" aria-hidden="true"> 
              </i>
                {{square.name }} 
            </i>
            <i class="fas fa-arrows-alt-h text-muted"> 
              <small>
                {{square.col_count}}
              </small>

            </i>
            <i class="fas fa-arrows-alt-v text-muted"> 
              <small>
                {{square.row_count}}
              </small>

            </i>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</div>


{% endblock %}
