{% extends 'layout_dash.html' %}

{% block content %}

<!-- try example (4) -->
      <div id="manufSelect">
      </div>
      <div id="itemSelect">
      </div>

<!-- DATA TO BE PRE-LOADED: SHOW MANUFACTURERS -->
<script>
  var ddManuf = [{
    "description": "FlexFit, 5-Panels, Snapback, 110, 210, Fitted",
    "imageSrc": "https://raw.githubusercontent.com/attila5287/displaytracker_img/master/img/manuf/yupoong.png",
    "selected": false,
    "text": "Yuupong>FlexFit",
    "value": "YUPOONG",
  }, {
    "description": "Otto Snapbacks, 5-Panels, Fitted",
    "imageSrc": "https://raw.githubusercontent.com/attila5287/displaytracker_img/master/img/manuf/otto.jpg",
    "selected": false,
    "text": "Otto Caps",
    "value": "OTTO",
  }];
</script>
<!-- CODE FOR CHAINED SELECT FIELDS DYNAMICALLY FETCHING DATA FROM DB-->
<script>
  $(document).ready(function () {
    var manuf_select = document.getElementById("manufacturer");
    var item_select = document.getElementById("item");

    $('#manufSelect').ddslick({
      data: ddManuf,
      defaultSelectedIndex:2,
      width: 300,
      imagePosition: "left",
      selectText: "Select your favorite social network",
      defaultSelectedIndex: 0,
      onSelected: function (data) {
        console.log(data);
        console.log('-------------- FETCH ddSlick --------------')
        var jsondata;
        var jsonItems = []
        manufacturer = data.selectedData.value;
        // modified, try with dynamic data (3) 
        var url = '/fetch/ddslick/' + manufacturer;
        console.log('url to fetch data for dynamic field \n' + url)
        fetch(url).then(
          function (u) {
            return u.json();
          }
        ).then(
          function (json) {
            jsondata = json;
            jsonItems = jsondata.items;
            console.log('jsondata.items')
            console.log(jsonItems)

            $('#itemSelect').ddslick('destroy');
            $('#itemSelect').ddslick({
              data: jsonItems,
              width: 300,
              height: 200,
              onSelected: function (data) {
                console.log(data)
              }
            });
          }
        )
      }
    });

    // this is for the page not to refresh etc. never delete      
  });
</script>


{% endblock %}


