
<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Bootstrap CSS -->
		<script src="{{ url_for('static', filename='holder.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-3.js') }}"></script>
		<script src="{{ url_for('static', filename='popper.js') }}"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/united/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="icon" type="image/x-icon" class="favicon" href="
			https://raw.githubusercontent.com/attila5287/displaytracker_img/master/dtSquare.png"/>

			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
			integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />


		{% if title %}
		<title> DisplayTracker | {{ title }}</title>
		{% else %}
		<title> DisplayTracker | InvApp</title>
		{% endif %}

	</head>
	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-purpleSeethru fixed-top mb-1 px-2 pt-1">
			<div class="container">
				<a class="navbar-brand" href="http://displaytracker.herokuapp.com">
					<img src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/dtSquare.png"
						style="height: 3rem;">
				</a>

				<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
					aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-arrow-circle-down fa-2x"></i>
				</button>

				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

						{% if current_user.is_authenticated %}
						<!-- USER_MENU_NAVBAR -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="fas fa-user-cog text-dark"></i>
								UserMenu</a>
							<div class="dropdown-menu " aria-labelledby="dropdownId">
								<a class="dropdown-item" 
								href="
								{{ url_for('posts.new_post') }}
								">
									<i class="fas fa-envelope"></i>
									Post | <strike> Test DB </strike>
								</a>
								<a class="dropdown-item" 
								href="
								{{ url_for('users.account') }}
								">
									<i class="fas fa-cogs    "></i>
									Account | ProfPicEmail</a>									
								<a class="dropdown-item" 
								href="
								{{ url_for('users.logout') }}
								">
									<i class="fas fa-sign-out-alt    "></i>
									Log Out | GoodBye</a>									
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="fas fa-boxes text-dark"></i>
								Inventory</a>
							<div class="dropdown-menu " aria-labelledby="dropdownId">
								<a class="dropdown-item" 
								href="
								{{ url_for('inventory.display_squares') }}
								">
								<i class="fas fa-th    "></i>
									Display | Squares
								</a>
								<a class="dropdown-item" 
								href=""
								>
								<i class="fas fa-tasks"></i>
									Forms | UpdateCount
								</a>
								<a class="dropdown-item" 
								href=""
								>
								<i class="fas fa-search-plus    "></i>
									ItemLocator
								</a>
							</div>
						</li>
						{% else %}

						<li class="nav-item">
							<a class="nav-link" href="/register">
								<i class="fas fa-registered text-dark"></i>
								Register!</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/login">
								<i class="fas fa-sign-in-alt text-dark"></i>
								Login!</a>
						</li>												

						{% endif %}


						<li class="nav-item">
							<a class="nav-link" href="{{url_for('main.about')}}">
								<i class="fas fa-question text-dark m-0"></i>
								info
							</a>
						</li>
						
					</ul>
				</div>
				<a class="navbar-brand-disabled mr-auto" href="http://displaytracker.herokuapp.com">
					<img src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/coloradoThemed/navbar_colorado_co_flag.ico"
						style="height: 2rem;">
				</a></div>
		</nav>
		<!-- this is only cosmetic to give a bottom border to navbar that is not gonna slide down with the real one! -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2 py-0">
			-
		</nav>

		<main role="main" class="container my-1 px-0">
			<div class="row">
				<div class="col-sm-9">
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
					messages %} {% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
					{% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
					%}
				</div>
				<!-- SIDEBAR -->
				<div class="col-sm-3">
						<div class="container-fluid text-center mt-0 py-1 px-1">

							<div class="nav-flex-column text-center">
								<img class="img-fluid px-4"
									src="https://raw.githubusercontent.com/attila5287/displaytracker_img/master/sidebar_denver_clean.png"
									style="height: 10rem;"
									>
									<h5 class="my-0">
										~Display Tracker!~
									</h5>

								<div class=" container-fluid">
								{% if current_user.is_authenticated %}
								<a class="nav-item btn btn-large btn-dark bg-purpleSeethru btn-rounded nav-link border-dark py-2 mt-2"
									href="" data-toggle="tooltip" data-placement="right"
									title="a python flask app tailor-made developed for inventory management, restocking, display set-up"
									style="border-width: medium;border-radius: 16px;border-width: medium;">
									<i class="fas fa-user-check"></i>

										Hi, {{current_user.username}}
										
								</a>

								<a class="nav-item btn btn-large btn-dark bg-info disab btn-rounded nav-link border-info b-2 mt-2"
									href="{{url_for('main.home')}}" data-toggle="tooltip" data-placement="right"
									title="profiler collects user input via forms" style="border-width: medium;border-radius: 9px;">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									Post>Test DB only
								</a>							
								<a class="nav-item btn btn-large btn-info btn-rounded nav-link border-info pb-2 mt-2"
									href="{{url_for('users.account')}}" data-toggle="tooltip" data-placement="right"
									title="change user preferences or records"
									style="border-width: medium;border-radius: 9px;">
										<i class="fas fa-cogs mr-2"> Account</i>
								</a>							

								<a class="nav-item btn btn-large btn-info btn-rounded nav-link border-info pb-2 mt-2"
									href="{{url_for('users.logout')}}" data-toggle="tooltip" data-placement="right"
									
									title="logout current user"
									style="border-width: medium;border-radius: 9px;">
										<i class="fas fa-sign-out-alt mr-2"> Logout</i>
								</a>							

								{% else %}
								<a class="nav-item btn btn-large btn-secondary bg-orchid btn-rounded nav-link bg-orchid border-dark py-1 mt-2"
									href="" data-toggle="tooltip" data-placement="right"
									title="a python flask app that scraps indeed job postings fast and displays with a mobile-friendly easy-on-eyes design. *Remake of original DU Coding Bootcamp final project*"
									style="border-width: medium;border-radius: 12px;border-width: medium;">

									<i class="fas fa-map-signs fa-2x text-light mt-1">
										SiteMap
									</i>

								</a>


								<a class="nav-item btn btn-large btn-info btn-rounded nav-link border-orchid pb-2 mt-2"
									href="{{ url_for('main.about') }}" data-toggle="tooltip" data-placement="right"
									title="information about app" style="border-width: medium;border-radius: 9px;">
									<i class="fas fa-info">
										<strong>
											Info
										</strong>
									</i>
								</a>

								<a class="nav-item btn btn-large btn-info btn-rounded nav-link border-orchid pb-2 mt-2"
									href="{{ url_for('users.register') }}" data-toggle="tooltip" data-placement="right"
									title="register to enjoy user features" style="border-width: medium;border-radius: 9px;">
									<i class="fas fa-user-alt-slash"> Register</i>
								</a>

								<a class="nav-item btn btn-large btn-info btn-rounded nav-link border-orchid pb-2 mt-2" 
								href="{{ url_for('users.login') }}"
								data-toggle="tooltip"
								data-placement="right"
								title="login if registered user already" 
								style="border-width: medium;border-radius: 9px;"
								>
									<i class="fa fa-user-plus mr-2" aria-hidden="true"> Login</i>
								</a>

								{% endif %}
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</main>


		<footer class="footer mt-2 no-print">
			<div class="row">
				<div class="col-sm-4">
					<img class="p-0 float-right"
						src="https://raw.githubusercontent.com/attila5287/displaytracker_img/master/footerBottom/jam_favIcon_png256_tri.png" alt=""
						style="height: 6rem;">
				</div>

				<div class="col-sm-2">
					<div class="d-flex flex-column justify-content-around text-danger text-center">
						<a>DisplayTracker</a>
						<a>Full Stack App </a>
						<a>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="d-flex flex-column justify-content-between text-danger text-center">
						<a>Heroku SalesForce Server</a>
						<a>Mobile Friendly Design</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
		</script>

		<style>
			.bg-purpleSeethru {
				background-color: rgba(128, 0, 128, 0.448);
			}
			.bg-orchid {
				background-color: orchid;
			}
			.border-orchid {
				border-color: orchid;
			}																		
			.text-orchid {
				color: orchid;
			}
		</style>

	</body>

</html>

	          